## NASA Mars News

In [1]:
from bs4 import BeautifulSoup as bs
import requests
print('Libraries imported!')

Libraries imported!

In [2]:
url_news = 'https://mars.nasa.gov/news/'
response_news = requests.get(url_news)

In [3]:
soup_news = bs(response_news.text, 'lxml')
#print(soup_news.prettify())

In [4]:
soup_news.title.text.strip()

'News  – NASA’s Mars Exploration Program'

In [5]:
news_title = soup_news.find('div', class_='content_title').get_text().strip()
news_title

'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities'

In [6]:
news_title = soup_news.find('div', class_='content_title').find('a').text.strip()
news_title

'NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities'

In [7]:
news_p = soup_news.find('div', class_='rollover_description_inner').get_text().strip()
news_p

'Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.'

_____________________________

## JPL Mars Space Images - Featured Image

In [8]:
from splinter import Browser
import time

In [9]:
browser = Browser('chrome', headless = False)

In [10]:
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_image)

In [11]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(2)
browser.click_link_by_partial_text('more info')
time.sleep(2)
browser.click_link_by_partial_text('.jpg')

C:\ProgramData\Anaconda3\lib\site-packages\splinter\driver\webdriver\__init__.py:528: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  FutureWarning,

In [12]:
html = browser.html
soup_image = bs(html, 'html.parser')
featured_image_url = soup_image.find('img').get('src')
browser.quit()
featured_image_url

'https://photojournal.jpl.nasa.gov/jpeg/PIA19913.jpg'

_________________________________

## Mars Weather

In [13]:
url_twitter = 'https://twitter.com/marswxreport?lang=en'

In [14]:
browser = Browser('chrome', headless = False)
browser.visit(url_twitter)
browser.find_by_css('article').click()
html_weather = browser.html
soup_twitter = bs(html_weather, 'html.parser')
#print(soup_twitter.prettify())

In [15]:
browser.quit()

In [16]:
mars_weather_data = soup_twitter.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')
mars_weather = mars_weather_data[9].text.replace('\n', ' ')
mars_weather

'InSight sol 607 (2020-08-11) low -93.1ºC (-135.6ºF) high -18.9ºC (-2.1ºF) winds from the WNW at 8.2 m/s (18.4 mph) gusting to 21.4 m/s (47.8 mph) pressure at 7.90 hPa'

_____________________

## Mars Facts

In [17]:
import pandas as pd

In [18]:
url_facts = 'https://space-facts.com/mars/'

In [19]:
table = pd.read_html(url_facts)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [20]:
facts_table = table[0]
facts_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [21]:
facts_table.columns = ['Description', 'Values']
facts_table

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
facts_table_html = facts_table.to_html(header=False, index=False)
facts_table_html

'<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

------------------------------

## Mars Hemispheres

In [23]:
browser_hem = Browser('chrome', headless = False)

In [24]:
url_hem = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser_hem.visit(url_hem)

In [25]:
response_hem = requests.get(url_hem)
soup_hem = bs(response_hem.text, 'html.parser')

In [26]:
links = []
for link in soup_hem.find_all('a'):
    links.append(link.get('href'))

In [27]:
astro = 'https://astrogeology.usgs.gov'
link1 = astro+links[4]
link2 = astro+links[5]
link3 = astro+links[6]
link4 = astro+links[7]

In [28]:
browser_hem.visit(link1)
response_1 = requests.get(link1)
soup_1 = bs(response_1.text, 'html.parser')
title_1 = soup_1.h2.text
link_img_1 = soup_1.li.a['href']
browser_hem.back()

browser_hem.visit(link2)
response_2 = requests.get(link2)
soup_2 = bs(response_2.text, 'html.parser')
title_2 = soup_2.h2.text
link_img_2 = soup_2.li.a['href']
browser_hem.back()

browser_hem.visit(link3)
response_3 = requests.get(link3)
soup_3 = bs(response_3.text, 'html.parser')
title_3 = soup_3.h2.text
link_img_3 = soup_3.li.a['href']
browser_hem.back()

browser_hem.visit(link4)
response_4 = requests.get(link4)
soup_4 = bs(response_4.text, 'html.parser')
title_4 = soup_4.h2.text
link_img_4 = soup_4.li.a['href']
browser_hem.quit()

In [29]:
hemisphere_image_urls = [{"title":title_1, "img_url": link_img_1},
                        {"title":title_2, "img_url": link_img_2},
                        {"title":title_3, "img_url": link_img_3},
                        {"title":title_4, "img_url": link_img_4}]

In [30]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

-------------------------

## DB Setup

In [31]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["mars_db"]
collection = db["mars_data"]

In [32]:
mars_dict = {"news_title":news_title,
          "news_p":news_p,
          "featured_image_url":featured_image_url,
          "mars_weather":mars_weather,
          "hemisphere_image_urls":hemisphere_image_urls,
         "facts_table":facts_table_html}

collection.insert_one(mars_dict)